.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

input {
  padding: 1em;
  border-radius: 10px;
}

button {
  padding: 1em;
}
